# biDevRogue.template
record( bi, "$(P)$(R)$(NAME)_RBV" )
{
	field( DESC, "$(DESC=?)" )
	field( DTYP, "RogueBI" )
	field( INP,  "@B$(B) L$(L) $(PATH)" )
	field( SCAN, "$(SCAN=)" )
	field( ZNAM, "$(ZNAM=Disabled)" )
	field( ONAM, "$(ONAM=Enabled)" )
	field( ZSV,  "$(ZSV=NO_ALARM)" )
	field( OSV,  "$(OSV=NO_ALARM)" )
	field( DISV, "$(DISV=1)" )
	field( SDIS, "$(SDIS=)" )
	field( TSE,  "$(TSE=0)" )
	info( autosaveFields, "" )
}
alias( "$(P)$(R)$(NAME)_RBV", "$(P)$(R)$(PYPV)" )
