# loDevRogue.template
record( longout, "$(P)$(R)$(NAME)" )
{
	field( DESC, "$(DESC=?)" )
	field( DTYP, "RogueLO" )
	field( DOL,  "$(DOL=0)" )
	field( OUT,  "@B$(B) L$(L) $(PATH)" )
	field( PINI, "$(PINI=NO)" )
	field( DISV, "$(DISV=1)" )
	field( SDIS, "$(SDIS=)" )
	info( autosaveFields, "$(SAVE=VAL)" )
}
