# wfDevRogue.template
record( waveform, "$(P)$(R)CH$(S):$(NAME)" )
{
	field( DESC, "$(DESC=?)" )
	field( DTYP, "RogueWF" )
	field( INP,  "@B$(B) L$(L) S$(S)" )
	field( PINI, "YES" )
	field( PRIO, "HIGH" )
	field( SCAN, "$(SCAN=I/O Intr)" )
	field( FTVL, "$(FTVL=USHORT)" )
	field( DISV, "$(DISV=1)" )
	field( SDIS, "$(SDIS=)" )
	field( NELM, "$(NELM=256)" )
	info( autosaveFields, "" )
}
